.cart-item {
    display: flex;
    width: 100%;
    padding: 10px;
}
.cart-item-amount {
    margin-left: auto;
    display: flex;
    float: right;
    transform: translateX(10vw);
}
.cart-item-amount input {
    font-size: 24px;
    width: 50px;
    border: none;
}
.cart-item-amount input::-webkit-inner-spin-button, input::-webkit-outer-spin-button {
    opacity: 1;
}
.cart-item-amount *:focus {
    font-size: 24px;
    width: 50px;
    border: none;
    box-shadow: none;
    outline: none;
}
.cart-item-price {
    font-size: 24px;
    margin-left: auto;
}
.cart-item-name {
    font-size: 24px;
    font-weight: bold;
}
.card {
    margin: auto;
    width: 50vw;
    margin-top: 100px;
}
.cart-footer {
    margin-top: 100px;
    padding-bottom: 10px;
}
.cart-header {
    font-size: 26px;
    padding: 10px;
    font-weight: bold;
    margin-bottom: 50px;
}